body {
    background: rgb(254,255,248);
    border-top: 8px solid rgb(36,32,28);
    padding: 40px;
    flex-direction: row;
    }
    
img {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    }
    
    [role="main"] {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
    flex-direction: row;
    }
    
    .project-list  {
    overflow: hidden;
    width: 2000px;
    position: relative;
    padding: 15px;
    flex-direction: row;
    }
    
    .project-list figure {
    background: #000;
    color: #fff;
    float: left;
    font-size: 40px;
    height: 200px;
    line-height: 200px;
    margin: 0 0 40px;
    position: relative;
    width: 400px;
    flex-direction: row;
    }
    
    .project-list figure:nth-child(even) {
    background: #444;
    flex-direction: row;
    }

    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
        flex-direction: row;
    }

    